@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  
}

.bg-rectangle {
  background-image: url('./Assets//Rectangle\ 179.png');
  background-size: cover;
  background-position: center;
}

.hospitalname::placeholder{
  color: black;
  opacity:0.8;
  
}

/* Custom scrollbar styles (for Webkit browsers) */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #a0aec0; /* Tailwind Gray 400 */
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #edf2f7; /* Tailwind Gray 200 */
}
